* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template: 200px 1fr 200px / 325px 1fr 325px;
    grid-template-areas: "left header header" "left content right" "footer footer right";
    grid-gap: 5px;
    height: 100vh;
}

.item {
    padding: 10px;
    background-color: dodgerblue;
}

.header {
    grid-area: header;
    background-color: chocolate;
}

.left {
    grid-area: left;
    background-color: darkgrey;
}

.content {
    grid-area: content;
    background-color: green;
}

.right {
    grid-area: right;
    background-color: black;
}

.footer {
    grid-area: footer;
    background-color: orange;
}